#wp-admin-bar-wdcab_root {
	display:block !important;
}
#wp-admin-bar-wdcab_root > a > img {
	position: relative;
	padding: 0;
	vertical-align: middle;
	margin: -4px 0 0 6px;
	float: none;
	display: inline !important;
	width:24px;
	line-height:24px;
	margin:-4px 0 0 6px;
}

@media screen and (max-width:782px) {
	#wp-admin-bar-wdcab_root > a > img {
		width:28px;
	}
}
/*
     FILE ARCHIVED ON 00:58:02 Mar 15, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:46:14 Jun 17, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.81 (2)
  exclusion.robots: 0.279 (2)
  exclusion.robots.policy: 0.253 (2)
  esindex: 0.026 (2)
  cdx.remote: 636.007 (2)
  LoadShardBlock: 906.346 (6)
  PetaboxLoader3.datanode: 200.642 (8)
  PetaboxLoader3.resolve: 1808.237 (4)
  load_resource: 1127.341 (2)
*/